/*ul{
    background-color: pink;
    display:flex;
    justify-content: space-evenly;


}
a{
    text-decoration:none;
    color:red;
    
}
li{
    list-style-type:none;
    
}
.outer{
height:500px;
width:500px;
background-color: rgb(229, 8, 122);
display:flex;
justify-content:center;
align-items:center;
}
.inner{
height:100px;
width:100px;
background-color: rgb(238, 30, 214);
}*/
div{
        height:100px;
         width:100px;
         background-color: rgb(238, 30, 214);
        }
        @media(width: 600px){
            div{
                background-color: rgb(30, 234, 238);
            }
        }
        @media(min-width:600px){
            div{
                background-color: rgb(238, 221, 30);
            }
        }
        @media(min-width:200px) and (max-width:300px){
            div{
                background-color: rgb(30, 238, 30);
            }
        }