 *{
    margin: 0;
    font-family: arial;
    border: border-box;
 }
 .navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display: flex;
    

 }
 .nav-logo{
    height: 50px;
    width: 80px;

 }
 .logo{
    background-image:url("LOGO-AMAZON.jpg");
    background-size: cover;
    height: 50px;
    width: 80px;
 }
 .border{
    border:1.5px solid transparent;
 }
 .border:hover{
    border:1.5px solid white;
 }