div{
    height:100px;
    width:100px;
    background-color: rgb(238, 151, 30);
    border:2px solid rgb(10, 196, 234);
   /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function:steps(5);
    transition-delay: 1s;*/
    transition: all 3s steps(5) 1s; 

}

div:hover{
  /*  background-color: rgb(189, 30, 238);
    border:2px solid rgb(207, 218, 0);
    font-size: 25px;*/
    transform: scale(2);
}
div:active{
    background-color: rgb(238, 30, 117);
    border:2px solid rgb(0, 0, 0);

}